/*
This is the editor style sheet,
containing styles that will be used in the content editor tools.
Customized for each project.
*/

/*
Inherit stock styles
*/

body,select,input,textarea, table
{
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #434343;
}

a
{
	color: #e2691a;
	text-decoration:underline;
}

a:hover{text-decoration:none;}

a img{border: 0;}

p{margin:0 0 1em 0;}

/*firefox needs the simple selector*/
.subtitle{}

.subtitle, .subtitle p,  .subtitle a
{
	font-weight: bold;
	font-size: 14px;
	color: #0b538c;
}

table.tableData
{
	width: 85%;
	border:1px solid #c1c9d1 !important;
	border-collapse:collapse;
	background-color: #ffffff;
	margin-bottom: 14px;
}

.tableData td
{
	border:0;
	border-top:1px solid #c1c9d1;
	padding:3px 4px 3px 9px;
}

.tableData td p, .tableData th p
{
	padding: 0;
	margin:0;
}

.tableData th
{
	padding: 6px 4px 5px 9px;
	text-align:left;
	color: #ffffff;
	background: #0b538c;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px;
}

.tableData th a, .tableData th p{color: #ffffff;}

.tableData tr:hover{background:#f4f7f9;}

.tableBox
{
	border: 1px solid #c1c9d1;
	padding:5px;
	background-color: #ffffff;
	margin-bottom: 14px;
}

.tableBox th{text-align:left;}

